[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = "*"
uvicorn = "*"
daphne = "*"
tk = "*"
pyqt5 = "*"
redis = "*"
psycopg = "*"
django-redis = "*"
psycopg2-binary = "*"
whitenoise = "*"
logger = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.1"
